
@{
    Layout = null;
}
@model MVCStudy.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        @{
            MVCStudy.Models.Employee emp = (MVCStudy.Models.Employee)ViewData["Employee"];
        }

        <b>Employee Details </b><br />
        Employee Name : @Model.FirstName @Model.LastName <br />
        Employee Salary:
        @if (Model.Salary > 15000)
        {
            <span style="background-color:yellow">
                @Model.Salary.ToString("C")
            </span>
        }
        else
        {
            <span style="background-color:green">

                @Model.Salary.ToString("C")
            </span>
        }
    </div>


   
</body>
</html>
